p {
    padding: 10px;
    margin: 10px;
}
header h1 {
    float: left;
    margin: 0px;
}
header li {
    float: right;
    display: inline;
    margin-left:20px;
    padding-top: 20px;
    padding-right: 15px;
}
.clear {clear: both;}
img{
    position:static;
    float:center;
    margin-left:15px;
    height: 300px;
    width: 300px;
    border-style: solid;
    border-width: thin;
}

footer li {
    float: center;
    display: inline;
    margin-right:15px
}
footer {
    padding-bottom:15px
}
h1 {
    color: #02090b;
    text-decoration: none;
    font-size:40pt;
}
h2 {
    color: #02090b
}
h3 {
    color: #02090b;
    text-decoration: underline;
}
header nav {
    color: #24dede;
    font-size: 15pt;
}
h1 {
    font-size: 40pt; 
}
body {background-color:#c2ade8;
    font-family: 'Snippet', sans-serif;
}
footer {
color: #141212;
}
footer li {
    font-size: 15pt;
}
a {
    color: #4f5bbe;  
    text-decoration: none;
}
a:hover {
    color:#9167c3
}
.ji-tumblr-photos {
    width: 300px;
    float:right;
}
.main text body {
    float:left; 
}
aside {
    padding-right: 15px;
    padding-left: 15px;
}
